@font-face {
    font-family: Inconsolata;
    src: url('../extras/Inconsolata-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Inconsolata;
    src: url('../extras/Inconsolata-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'CMS';
    src: url('../extras/cmunrm.eot');
    src: url('../extras/cmunrm.eot?#iefix') format('embedded-opentype'),
         url('../extras/cmunrm.woff') format('woff'),
         url('../extras/cmunrm.ttf') format('truetype'),
         url('../extras/cmunrm.svg#cmunrm') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CMS';
    src: url('../extras/cmunbx.eot');
    src: url('../extras/cmunbx.eot?#iefix') format('embedded-opentype'),
         url('../extras/cmunbx.woff') format('woff'),
         url('../extras/cmunbx.ttf') format('truetype'),
         url('../extras/cmunbx.svg#cmunbx') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'CMS';
    src: url('../extras/cmunti.eot');
    src: url('../extras/cmunti.eot?#iefix') format('embedded-opentype'),
         url('../extras/cmunti.woff') format('woff'),
         url('../extras/cmunti.ttf') format('truetype'),
         url('../extras/cmunti.svg#cmunti') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'CMS';
    src: url('../extras/cmunbi.eot');
    src: url('../extras/cmunbi.eot?#iefix') format('embedded-opentype'),
         url('../extras/cmunbi.woff') format('woff'),
         url('../extras/cmunbi.ttf') format('truetype'),
         url('../extras/cmunbi.svg#cmunbi') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
	font-family: 'CM-Sans';
	src: url('../extras/cmunss.eot');
	src: url('../extras/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('../extras/cmunss.woff') format('woff'),
		 url('../extras/cmunss.ttf') format('truetype'),
		 url('../extras/cmunss.svg#cmunss') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'CM Sans';
	src: url('../extras/cmunsx.eot');
	src: url('../extras/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('../extras/cmunsx.woff') format('woff'),
		 url('../extras/cmunsx.ttf') format('truetype'),
		 url('../extras/cmunsx.svg#cmunsx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'CM-Sans';
	src: url('../extras/cmunsi.eot');
	src: url('../extras/cmunsi.eot?#iefix') format('embedded-opentype'),
		 url('../extras/cmunsi.woff') format('woff'),
		 url('../extras/cmunsi.ttf') format('truetype'),
		 url('../extras/cmunsi.svg#cmunsi') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'CM-Sans';
	src: url('../extras/cmunso.eot');
	src: url('../extras/cmunso.eot?#iefix') format('embedded-opentype'),
		 url('../extras/cmunso.woff') format('woff'),
		 url('../extras/cmunso.ttf') format('truetype'),
		 url('../extras/cmunso.svg#cmunso') format('svg');
	font-weight: bold;
	font-style: italic;
}

.text_cell_render h1, .text_cell_render h2, .text_cell_render h3, .text_cell_render h4 {
  font-family: CM-Sans !important;
}


.text_cell_render p, .text_cell_render ul {
  font-family: CMS !important;
  font-size: 17px;
}


.CodeMirror {
  font-family: Inconsolata !important;
  font-size: 12pt;
}

.highlight {
  font-family: Inconsolata !important;
  font-size: 12pt;
}

img[alt=center] {
  width:50% !important;
  margin: 0 auto !important;
}
