@font-face {
    font-family: Inconsolata;
    src: url('../extras/Inconsolata-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Inconsolata;
    src: url('../extras/Inconsolata-Bold.ttf');
    font-weight: bold;
}


.text_cell_render h1, .text_cell_render h2, .text_cell_render h3, .text_cell_render h4 {
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif !important;
}


.text_cell_render p, .text_cell_render ul {
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-size: 17px;
}


.CodeMirror {
  font-family: Inconsolata !important;
  font-size: 12pt;
}

.highlight {
  font-family: Inconsolata !important;
  font-size: 12pt;
}

img[alt=center] {
  width:50% !important;
  margin: 0 auto !important;
}
